body {
  background:#202020;
  }
p {
  color:#ffffff;
  border: 2px solid #ffffff
}
  h1{
  color:#bada55
}

li {
  background-color:blue
}

#li1 {
  color:#ff3030
}
#li2{
  color:#ffffff
}
#li3 {
  color: #00ff00;
}
